{% extends "base.html" %}

{% block content %}
<h2>Audio to image</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload Audio (.wav)</button>
</form>
<p>
{% for feed in feeds %}
<div class="card mb-3">
    <div class="card-header">
        <form method="post">
            {% csrf_token %}
            <button type='submit' name="process" value="{{ feed.id }}" class="btn btn-secondary">Process Audio</button>
        </form>
    </div>
    <div class="card-body">
        <h4>{{ feed.name }}</h4>
        <a href="{{ feed.audio.url }}" target="_blank">
            <audio class = "audioPlayer uniqueShowAP" controls style="width: 95%">
                <source src={{ feed.audio.url }}>
                Your browser does not support the
                <code>audio</code> element.
            </audio>
        </a>
        <p>
        {% if feed.processed_to_image %}
        <a href="{{ feed.processed_to_image.url }}" target="_blank">
            <img src="{{ feed.processed_to_image.url }}" alt="Original Image" style="width: 95%; height: 500px;">
        </a>
        {% endif %}
    </div>

    <form method="post">
        {% csrf_token %}
        <button type="submit" name="delete" value="{{ feed.id }}">Delete</button>
    </form>
</div>
{% endfor %}
{% endblock %}